header{
    height: 100px;
    width: 100%;
    /*background-color:  #05476D;*/
    background-color: #012e46;
    color: white;
}

div{
    height: 100px;
    width: 100%;
    background-color: #eed1a1;
    /*border: 5px solid #ecc990;;*/
}

body{
    background-color:white;

}

